{% extends 'base.html' %}
{% block title %} PDM | Landing Page {% endblock title%}
{% load static %}

{% block content %}
  
  <link href="{% static 'css/landing.css' %}"  type="text/stylesheet" rel="stylesheet"> 
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark px-3">
    <div class="container-fluid">
      <a class="navbar-brand " href="#" style="font-family: sans-serif;">PREDICTIVE MAINTAINANCE</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <!-- <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
          </li> -->
        </ul>

        <form method="GET"  action="/logout">
          <input class="btn btn-danger"  value="Logout" type="submit" >
        </form>
        
      </div>
    </div>
  </nav>



  <div id="info" class="container-fluid">

    {% if response %}
      <div class="alert alert-warning d-flex align-items-center mt-2" role="alert" style="border-radius: 10px;">
        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="wrning:"><use xlink:href="#check-circle-fill"/></svg>
        <div class="py-0 ">
          {{ response   | safe }}
        </div>
        
      </div>
    {% endif %}
  </div>

  <section class="container-fluid">
    <div class="container-xl p-2 m-0">
      <div class="container-fluid d-flex justify-content-start">
        <div class="row mt-5">
          {% for vehicle in vehicles %}

          <div class="col-sm" style="position: relative;">
            <div class="card" style="min-height: 500px;min-width: 300px;">
              {% if forloop.counter0 == 0 %}
                <img src='{% static "img_local/1.jpeg" %}' class="card-img-top" width="100%">
              {% elif forloop.counter0 == 1  %}
                <img src='{% static "img_local/2.jpeg" %}' class="card-img-top" width="100%">
              {% elif forloop.counter0 == 2  %}
                <img src='{% static "img_local/3.jpeg" %}' class="card-img-top" width="100%">
              {% elif forloop.counter0 == 3  %}
                <img src='{% static "img_local/4.jpeg" %}' class="card-img-top" width="100%">
              {% elif forloop.counter0 == 4  %}
                <img src='{% static "img_local/5.jpeg" %}' class="card-img-top" width="100%">
              {% elif forloop.counter0 == 5  %}
                <img src='{% static "img_local/6.jpeg" %}' class="card-img-top" width="100%">
              {% else %}
                <img src='{% static "img_local/7.jpeg" %}' class="card-img-top" width="100%">
              {% endif %}
              
              <div class="card-body pt-0 px-0" >
                <div class="d-flex flex-row justify-content-between mb-0 px-3">
                  <small class="text-muted mt-1">Vehicle Name</small>
                  <h6>{{ vehicle.vname }}</h6>
                </div>
                <hr class="mt-2 mx-3">
                <div class="d-flex flex-row justify-content-between px-3 pb-2">
                  <div class="d-flex flex-column"><span class="text-muted">Servicing Status</span></div>
                  <div class="d-flex flex-column"><h7 class={% if vehicle.status == "Required" %} "mb-0 text-danger"  {% else %} "mb-0 text-success" {% endif %}>{{ vehicle.status | title}}</h7><small class="text-muted text-right">(*Approx)</small></div>
                </div>
                <div class="d-flex flex-row justify-content-between px-3 pb-2">
                  <div class="d-flex flex-column"><span class="text-muted">Vehicle Number</span></div>
                  <div class="d-flex flex-column"><h7 class="mb-0" >{{ vehicle.vnumber }}</h7></div>
                </div>
                <div class="d-flex flex-row justify-content-between p-3 mid">
                  <div class="d-flex flex-column"><small class="text-muted mb-1">ENGINE</small><div class="d-flex flex-row"><img src="https://imgur.com/iPtsG7I.png" width="35px" height="25px"><div class="d-flex flex-column ml-1"><small class="ghj">1.4L MultiAir</small><small class="ghj">16V I-4 Turbo</small></div></div></div>
                  <div class="d-flex flex-column"><small class="text-muted mb-2">VEHICLE</small><div class="d-flex flex-row"><img src="https://imgur.com/J11mEBq.png"><h6 class="ml-1">135 hp&ast;</h6></div></div>
                </div>
                <div class="mx-3 mt-3 mb-2 d-flex justify-content-center">
                  <form method="GET" action="/stats">
                    <input type="text" name="id" value="{{ vehicle.SensorID.SensorID }}" hidden>
                    <button type="submit" class="btn btn-info btn-block px-4 py-2"><small>SHOW STATS</small></button>
                  </form>
                  <style>
                    body{
                      background-color: rgb(239, 239, 239);
                    }
                    #crossbutton:hover {
                        color: red;
                    }
                  </style>
                  <form method="POST">
                    {% csrf_token %}
                    <input name="sensorID" value="{{ vehicle.SensorID.SensorID }}"  hidden>
                    <button type="submit" name="remove" value="remove"  style="position: absolute;top:10px; right: 10px;"><i id="crossbutton" class="fa fa-times"></i></button>
                  </form>
                </div> 
              </div>
            </div>
          </div>
          {% endfor %}

          <!-- gUQNKPd.png  SKZolYE.png edOjtEC.png -->
         
          <div class="col-sm">
              <div data-bs-toggle="modal" data-bs-target="#exampleModalCenter" class="card d-flex  justify-content-center" style="min-height: 500px; min-width: 300px; background-color: rgb(226, 226, 226);">
                  <button class="btn"><i  class="fa fa-plus"></i> </button>    
              </div>
          </div>
          
          
        </div>
      </div>
    </div>
  </section>

  <!-- Modal -->
  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Add Vehicle Page</h5>
          <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form class="mx-1 mx-md-4" method="POST">
            {% csrf_token %}

            <div class="d-flex flex-row align-items-center mb-4">
              <i class="fas fa-cloud fa-lg me-3 fa-fw"></i>
              <div class="form-outline flex-fill mb-0">
                <input type="text" id="form3Example4c" class="form-control" name="sensorID"/>
                <label class="form-label" for="form3Example4c">Sensor ID</label>
              </div>
            </div>

            <div class="d-flex flex-row align-items-center mb-4">
                <i class="fas fa-car fa-lg me-3 fa-fw"></i>
                <div class="form-outline flex-fill mb-0">
                  <input type="text" id="form3Example4c" class="form-control" name="vname"/>
                  <label class="form-label" for="form3Example4c">Vehicle Name</label>
                </div>
            </div>

            <div class="d-flex flex-row align-items-center mb-4">
              <i class="fas fa-id-card fa-lg me-3 fa-fw"></i>
              <div class="form-outline flex-fill mb-0">
                <input type="text" id="form3Example4c" class="form-control" name="vnumber" />
                <label class="form-label" for="form3Example4c">Vehicle Number</label>
              </div>
            </div>

            <div class="row">
                    <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                    <button type="submit" class="btn btn-info btn-lg col-6" >ADD</button>
                    </div>
            </div>

          </form>
          
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <script>
    element = document.getElementById("info");
    element.addEventListener("click", ()=>{
      element.remove()
    });
  </script>

{% endblock content%}
