{% extends 'base.html' %}
{% block title %} PDM | Stats {% endblock title%}
{% block content %}
        
    <section class="container-fluid m-0 p-0">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark px-3 py-3">
            <div class="container-fluid">
              <a class="navbar-brand " href="#" style="font-family: sans-serif;">PREDICTIVE MAINTAINANCE</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                </ul>

                <form method="GET" action="/logout">
                  <input class="btn btn-danger" type="submit" value="Logout" >
                </form>
                
              </div>
            </div>
          </nav>
    </section>

    <input id="sensorID" value="{{ sensor.SensorID }}" hidden>

    <section class="container-fluid p-0 m-0" >
        <div class="row p-0 m-0" style="min-height: 100vh;">
            <!-- left -->
            <div class="col-2 pe-3 ps-0 m-0 " style="min-height: 100vh;">
                <div class="bg-dark" style="min-height: 100vh;">
                    <div class="d-flex align-items-start" style="min-width: 100%;">
                        <!-- left -->
                        <div class="nav flex-column nav-pills " id="v-pills-tab" role="tablist" aria-orientation="vertical" style="min-width: 100%;">
                            <button class="nav-link active" id="v-pills-dashboard-tab" data-bs-toggle="pill" data-bs-target="#v-pills-dashboard" type="button" role="tab" aria-controls="v-pills-dashboard" aria-selected="true">Dashboard</button>
                            <button class="nav-link" id="v-pills-coolanttemp-tab" data-bs-toggle="pill" data-bs-target="#v-pills-coolanttemp" type="button" role="tab" aria-controls="v-pills-coolanttemp" aria-selected="false">Coolant Temperature</button>
                            <button class="nav-link" id="v-pills-airtemp-tab" data-bs-toggle="pill" data-bs-target="#v-pills-airtemp" type="button" role="tab" aria-controls="v-pills-airtemp" aria-selected="false">Engine Temperature</button>
                            <button class="nav-link" id="v-pills-batteryvoltage-tab" data-bs-toggle="pill" data-bs-target="#v-pills-batteryvoltage" type="button" role="tab" aria-controls="v-pills-batteryvoltage" aria-selected="false">Battery Voltage</button>
                            <button class="nav-link" id="v-pills-basefuel-tab" data-bs-toggle="pill" data-bs-target="#v-pills-basefuel" type="button" role="tab" aria-controls="v-pills-basefuel" aria-selected="false">Base Fuel</button>
                            <button class="nav-link" id="v-pills-ignitiontiming-tab" data-bs-toggle="pill" data-bs-target="#v-pills-ignitiontiming" type="button" role="tab" aria-controls="v-pills-ignitiontiming" aria-selected="false">Ignition Timing</button>
                            <button class="nav-link" id="v-pills-afrdifference-tab" data-bs-toggle="pill" data-bs-target="#v-pills-afrdifference" type="button" role="tab" aria-controls="v-pills-afrdifference" aria-selected="false">AFR Difference</button>
                            <button class="nav-link" id="v-pills-mapsource-tab" data-bs-toggle="pill" data-bs-target="#v-pills-mapsource" type="button" role="tab" aria-controls="v-pills-mapsource" aria-selected="false">MAP Source</button>
                            <button class="nav-link" id="v-pills-lambdasensor-tab" data-bs-toggle="pill" data-bs-target="#v-pills-lambdasensor" type="button" role="tab" aria-controls="v-pills-lambdasensor" aria-selected="false">Lambda Sensor</button>
                            <button class="nav-link" id="v-pills-baseignition-tab" data-bs-toggle="pill" data-bs-target="#v-pills-baseignition" type="button" role="tab" aria-controls="v-pills-baseignition" aria-selected="false">Base Ignition</button>
                        </div>

                       
                    </div>
                </div>
            </div>

             <!-- main right -->
             <div class="tab-content col-10 p-0" id="v-pills-tabContent" >
                <div class="tab-pane fade show active" id="v-pills-dashboard" role="tabpanel" aria-labelledby="v-pills-dashboard-tab">
                    <!-- right -->
                    <div class="p-0 m-0">
                        <!-- right top -->
                        <div class="container p-0 m-0">
                            <div class="pt-2 ps-3" style="padding-left: 12px; font-family: sans-serif;" >
                                <p class="mb-3" style="font-size: 22px;">{{ mapping.vname | title }}'s Dashboard</p>
                            </div>
                        </div>
                        <diV class="container">
                            <div class="row">
                                <div class="col-3  p-0">
                                    <div class="card order-card">
                                        <div id="status" class={% if status == "Required" %}"card-block  bg-c-red"{% else %}"card-block  bg-c-green"{% endif %} >
                                            <h4 class="pb-3">Servicing Status</h4>
                                            <div class="row p-0 m-0">
                                                <div class="col-5 p-0 m-0">
                                                    <h4><i class="fa fa-wrench pt-4 ps-2" style="font-size: 28px;"></i></h4>
                                                    <h7>
                                                        
                                                    </h7>
                                                </div>
                                                <div class="col-7 p-0 m-0" style="text-align: right;white-space: nowrap;">
                                                    <h5>
                                                        {{ status | title}}
                                                    </h5>
                                                    <h7>
                                                        (*approx)
                                                    </h7>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-3  p-0">
                                    <div class="card  order-card">
                                        <div class="card-block bg-c-voilet" >
                                            <h4 class="pb-3">Battery Voltage</h4>
                                            <div class="row p-0 m-0">
                                                <div class="col-6 p-0 m-0">
                                                    <h4><i class="fa fa-battery-half"></i></h4>
                                                    <h7>
                                                        Range 12.2~14.4
                                                    </h7>
                                                </div>
                                                <div class="col-6 p-0 m-0" style="text-align: right;">
                                                    <h4 id="bvval">
                                                        {% if latest_stats.BatteryVoltage %}
                                                            {% widthratio latest_stats.BatteryVoltage 1000 1 %} 
                                                        {% else %}
                                                            NA
                                                        {% endif %}
                                                    </h4>
                                                    <h7>
                                                        Volts
                                                    </h7>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-3 p-0">
                                    <div class="card order-card">
                                        <div class="card-block bg-c-orange " >
                                            <h4 class="pb-3">Engine Temperature</h4>
                                            <div class="row p-0 m-0">
                                                <div class="col-6 p-0 m-0">
                                                    <h4><i class="fa fa-temperature-high"></i></h4>
                                                    <h7>
                                                        Range 300~400
                                                    </h7>
                                                </div>
                                                <div class="col-6 p-0 m-0" style="text-align: right;">
                                                    <h4 id="etval">
                                                        {% if latest_stats.AirTemp %}
                                                           {% widthratio latest_stats.AirTemp 10 1 %} 
                                                        {% else %}
                                                            NA
                                                        {% endif %}
                                                    </h4>
                                                    <h7>
                                                        Kelvin
                                                    </h7>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-3 p-0">
                                    <div class="card  order-card">
                                        <div class="card-block bg-c-blue" >
                                            <h4 class="pb-3">Coolant Temperature</h4>
                                            <div class="row p-0 m-0">
                                                <div class="col-6 p-0 m-0">
                                                    <h4><i class="fa fa-snowflake"></i></h4>
                                                    <h7>
                                                        range 300~400
                                                    </h7>
                                                </div>
                                                <div class="col-6 p-0 m-0" style="text-align: right;">
                                                    <h4 id="ctval">
                                                        {% if latest_stats.CoolantTemp %}
                                                            {% widthratio latest_stats.CoolantTemp 10 1 %} 
                                                        {% else %}
                                                            NA
                                                        {% endif %}
                                                    </h4>
                                                    <h7>
                                                        Kelvin
                                                    </h7>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </diV>
                        <div class="container p-0 m-0">
                            <div class="py-3 ps-3" style="padding-left: 12px; font-family: sans-serif;" >
                                <h5>Key Graphs</h5>
                            </div>
                        </div>

                        <!-- right bottom -->
                        <div class="container">
                            <div class="row">
                                <!-- right bottom left -->
                                <div class="col-7 m-0">
                                    <div class="container m-0 p-0">
                                        <canvas id="myChartline" style="box-shadow: 5px 10px 8px #888888; border-radius: 10px;max-height: 354px;"></canvas>
                                    </div>
                                </div>

                                <!-- right bottom right -->
                                <div class="col-5">
                                    <div class="container m-0 p-0">
                                        <canvas id="myChartbar" style="box-shadow: 5px 10px 8px #888888; border-radius: 10px;min-height:354px;max-height: 354px;"></canvas>
                                    </div>
                                </div>

                            </div>
                            
                        </div>

                    </div>
                    <!-- end right -->
                </div>
                <div class="tab-pane fade" id="v-pills-coolanttemp" role="tabpanel" aria-labelledby="v-pills-coolanttemp-tab">
                    <div class="container p-0 m-0">
                        <div class="pt-2 ps-3" style="padding-left: 12px; font-family: sans-serif;" >
                            <p class="mb-3" style="font-size: 22px;">Coolant Temperature Graph</p>
                        </div>
                    </div>
                    <canvas id="coolanttemp" style="box-shadow: 5px 10px 8px #888888; border-radius: 10px;padding: 30px;"></canvas>
                </div>
                <div class="tab-pane fade" id="v-pills-airtemp" role="tabpanel" aria-labelledby="v-pills-airtemp-tab">
                    <div class="container p-0 m-0">
                        <div class="pt-2 ps-3" style="padding-left: 12px; font-family: sans-serif;" >
                            <p class="mb-3" style="font-size: 22px;">Air Temperature Graph</p>
                        </div>
                    </div>
                    <canvas id="airtemp" style="box-shadow: 5px 10px 8px #888888; border-radius: 10px;padding: 30px;"></canvas>
                </div>
                <div class="tab-pane fade" id="v-pills-batteryvoltage" role="tabpanel" aria-labelledby="v-pills-batteryvoltage-tab">
                    <div class="container p-0 m-0">
                        <div class="pt-2 ps-3" style="padding-left: 12px; font-family: sans-serif;" >
                            <p class="mb-3" style="font-size: 22px;">Battery Voltage Graph</p>
                        </div>
                    </div>
                    <canvas id="batteryvoltage" style="box-shadow: 5px 10px 8px #888888; border-radius: 10px;padding: 30px;"></canvas>
                </div>
                <div class="tab-pane fade" id="v-pills-basefuel" role="tabpanel" aria-labelledby="v-pills-basefuel-tab">
                    <div class="container p-0 m-0">
                        <div class="pt-2 ps-3" style="padding-left: 12px; font-family: sans-serif;" >
                            <p class="mb-3" style="font-size: 22px;">Base Fuel Graph</p>
                        </div>
                    </div>
                    <canvas id="basefuel" style="box-shadow: 5px 10px 8px #888888; border-radius: 10px;padding: 30px;"></canvas>
                </div>
                <div class="tab-pane fade" id="v-pills-ignitiontiming" role="tabpanel" aria-labelledby="v-pills-ignitiontiming-tab">
                    <div class="container p-0 m-0">
                        <div class="pt-2 ps-3" style="padding-left: 12px; font-family: sans-serif;" >
                            <p class="mb-3" style="font-size: 22px;">Ignition Timing Graph</p>
                        </div>
                    </div>
                    <canvas id="ignitiontiming" style="box-shadow: 5px 10px 8px #888888; border-radius: 10px;padding: 30px;"></canvas>
                </div>
                <div class="tab-pane fade" id="v-pills-afrdifference" role="tabpanel" aria-labelledby="v-pills-afrdifference-tab">
                    <div class="container p-0 m-0">
                        <div class="pt-2 ps-3" style="padding-left: 12px; font-family: sans-serif;" >
                            <p class="mb-3" style="font-size: 22px;">AFR Difference Graph</p>
                        </div>
                    </div>
                    <canvas id="afrdifference" style="box-shadow: 5px 10px 8px #888888; border-radius: 10px;padding: 30px;"></canvas>
                </div>
                <div class="tab-pane fade" id="v-pills-mapsource" role="tabpanel" aria-labelledby="v-pills-mpsource-tab">
                    <div class="container p-0 m-0">
                        <div class="pt-2 ps-3" style="padding-left: 12px; font-family: sans-serif;" >
                            <p class="mb-3" style="font-size: 22px;">MAP Source Graph</p>
                        </div>
                    </div>
                    <canvas id="mapsource" style="box-shadow: 5px 10px 8px #888888; border-radius: 10px;padding: 30px;"></canvas>
                </div>
                <div class="tab-pane fade" id="v-pills-lambdasensor" role="tabpanel" aria-labelledby="v-pills-lambdasensor-tab">
                    <div class="container p-0 m-0">
                        <div class="pt-2 ps-3" style="padding-left: 12px; font-family: sans-serif;" >
                            <p class="mb-3" style="font-size: 22px;">Lambda Sensor Graph</p>
                        </div>
                    </div>
                    <canvas id="lambdasensor" style="box-shadow: 5px 10px 8px #888888; border-radius: 10px;padding: 30px;"></canvas>
                </div>
                <div class="tab-pane fade" id="v-pills-baseignition" role="tabpanel" aria-labelledby="v-pills-baseignition-tab">
                    <div class="container p-0 m-0">
                        <div class="pt-2 ps-3" style="padding-left: 12px; font-family: sans-serif;" >
                            <p class="mb-3" style="font-size: 22px;">Base Ignition Graph</p>
                        </div>
                    </div>
                    <canvas id="baseignition" style="box-shadow: 5px 10px 8px #888888; border-radius: 10px;padding: 30px;"></canvas>
                </div>


            </div>
            
            

        </div>
      

    </section>

    <style>
        *{
            padding: 0;
            margin: 0;
        }

        body{
            max-height: 100vh;
            min-height: 100vh;
            overflow-y: hidden;
        }

        .tab-pane > canvas {
            max-height: 80vh;
            max-width: 82vw;
        }

        .nav-pills .nav-link.active{
            background-color: white;
            padding: 15px;
            color: black;
            text-align: center;
            font-weight: bold;
        }
        

        .nav-pills .nav-link{
            border-radius: 0;
            text-align: start;
            color: rgb(168, 168, 168);
        }

        .order-card {
            color: #fff;
        }

        .bg-c-blue {
            background: linear-gradient(45deg,#4099ff,#73b4ff);
        }

        .bg-c-orange {
            background: orange;
        }

        .bg-c-red {
            background: red;
        }

        .bg-c-green {
            background: green;
        }

        .bg-c-voilet {
            background: darkorchid;
        }


        .card {
            /* max-width: 300px;
            max-height: 130px; */
            min-height: 100%;
            /* margin: 8px; */
            padding: 5px;
            border: none;
        }

        .card .card-block {
            border-radius: 5px;
            -webkit-box-shadow: 0 1px 2.94px 0.06px rgba(4,26,55,0.16);
            box-shadow: 0 1px 2.94px 0.06px rgba(4,26,55,0.16);
            
            -webkit-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
            padding: 15px;
            min-height: 100%;
            height: 100%;
            /* max-width: 300px;
            max-height: 130px; */
        }

        .order-card i {
            font-size: 18px;
        }

        .f-left {
            float: left;
        }

        .f-right {
            float: right;
        }
    </style>

    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <!-- Graph Script -->
    <script>

        

        function loadData(){
                
            var sensorID = $('#sensorID').val()
            var endpoint = `http://localhost:8000/api/getdata?id=${sensorID}`;
            $.ajax({
                method: "GET",
                url: endpoint,
                success: function(data) {
                    if(!data){
                        return;
                    }
                    var processedData = processData(data["data"]);
                    $("#ctval").html(processedData["CoolantTemp(kelvin)"][0]);
                    $("#etval").html(processedData["AirTemp(kelvin)"][0]);
                    $("#bvval").html( processedData["BatteryVoltage(volts)"][0]);
                    
                    // dashboard graph
                    var dashBoardDataSet = createDatasets(processedData, ["RPM","BaseFule(ml)","AFRDifference(ratio)" ,"MAPSource(inHg)"]);                
                    drawLineGraph("myChartline", processedData["DateTime"], dashBoardDataSet, true);

                    var coolentdataset = createDatasets(processedData, ["CoolantTemp(kelvin)"]);                
                    drawLineGraph("coolanttemp", processedData["DateTime"], coolentdataset, false, yaxisname="Temperature(Kelvin)");

                    var airtempdataset = createDatasets(processedData, ["AirTemp(kelvin)"]);                
                    drawLineGraph("airtemp", processedData["DateTime"], airtempdataset,false, yaxisname="Temperature(Kelvin)");

                    var batteryvoltagedataset = createDatasets(processedData, ["BatteryVoltage(volts)"]);                
                    drawLineGraph("batteryvoltage", processedData["DateTime"], batteryvoltagedataset, false, yaxisname="Voltage(volts)");

                    var basefueldataset = createDatasets(processedData, ["BaseFule(ml)"]);                
                    drawLineGraph("basefuel", processedData["DateTime"], basefueldataset, false, yaxisname="Base Fuel(ml)");

                    var ignitiontimingdataset = createDatasets(processedData, ["IgnitionTiming(degree)"]);                
                    drawLineGraph("ignitiontiming", processedData["DateTime"], ignitiontimingdataset, false, yaxisname="Ignition Timing(degree)");

                    var afrdifferencedataset = createDatasets(processedData, ["AFRDifference(ratio)"]);                
                    drawLineGraph("afrdifference", processedData["DateTime"], afrdifferencedataset, false, yaxisname="AFRDifference(ratio)");

                    var mapsourcedataset = createDatasets(processedData, ["MAPSource(inHg)"]);                
                    drawLineGraph("mapsource", processedData["DateTime"], mapsourcedataset, false, yaxisname="MAPSource(inHg)");

                    var lambdasensordataset = createDatasets(processedData, ["LambdaSensor1(inHg)"]);                
                    drawLineGraph("lambdasensor", processedData["DateTime"], lambdasensordataset, false, yaxisname="LambdaSensor1(inHg)");

                    var baseignitiondataset = createDatasets(processedData, ["BaseIgnition(degree)"]);                
                    drawLineGraph("baseignition", processedData["DateTime"], baseignitiondataset, false, yaxisname="BaseIgnition(degree)");

                    var histodataset = createBarGraphDatasets(processedData, ["BaseIgnition(degree)","IgnitionTiming(degree)","LambdaSensor1(inHg)"]);
                    drawBarGraph('myChartbar', processedData["DateTime"].slice(0,10), histodataset);
                },
                error: function(error_data) {
                    console.log(error_data);
                }
            })

            endpoint = `http://localhost:8000/api/getsensorstatus?id=${sensorID}`;
            $.ajax({
                method: "GET",
                url: endpoint,
                success: function(data) {
                    var status = data['status']
                    $('#status').removeAttr("class")
                    if(status == "Required"){
                        $('#status').addClass("card-block  bg-c-red")
                    }else{
                    $('#status').addClass("card-block  bg-c-green")
                    }
                },
                error: function(error_data) {
                    console.log(error_data);
                }
            })

        }

        window.addEventListener("load", (event) => {
           loadData()
        });

        function processData(data){
            var rpm = [];
            var basefuel = [];
            var ignitiontiming = [];
            var datetime = [];
            var afrdifference = [];
            var mapsource = [];
            var coolanttemp = [];
            var batteryvoltage = [];
            var airtemp = [];
            var lambdasensor1 = [];
            var baseignition = [];
            var result = [];

            
            data.forEach(entry => {
                rpm.push(entry["RPM"]);
                basefuel.push(entry["BaseFuel"]);
                ignitiontiming.push(entry['IgnitionTiming']);
                datetime.push(entry["DateTime"]);
                afrdifference.push(entry["AFRDifference"]);
                mapsource.push(entry["MAPSource"]);
                coolanttemp.push(entry["CoolantTemp"]/10);
                batteryvoltage.push(entry["BatteryVoltage"]/1000);
                airtemp.push(entry["AirTemp"]/10);
                lambdasensor1.push(entry["LambdaSensor1"]);
                baseignition.push(entry["BaseIgnition"]);
                result.push(entry["Result"]+100);

            });
            var processedData = {
                "RPM" : rpm,
                "BaseFule(ml)" : basefuel,
                "IgnitionTiming(degree)" : ignitiontiming,
                "DateTime" : datetime,
                "AFRDifference(ratio)" : afrdifference,
                "MAPSource(inHg)" : mapsource,
                "CoolantTemp(kelvin)" : coolanttemp,
                "BatteryVoltage(volts)" : batteryvoltage,
                "AirTemp(kelvin)" : airtemp,
                "LambdaSensor1(inHg)" : lambdasensor1,
                "BaseIgnition(degree)" : baseignition,
                "Result(0/-1)": result
            }

            return processedData

        }

        function createDatasets(data, pick){
            datasets = [];
            colors = ["red", "green", "blue", "indigo", "yellow", "orange"]
            colorcounter = 0;
            Object.entries(data).forEach( entry => {
                const[ key ,value] = entry
                if(pick.includes(key)){
                    var temp = {
                        label: key,
                        data: value,
                        borderColor: colors[colorcounter],
                        fill: false,
                        tension: 0,
                        pointBorderWidth: 0,
                        pointRadius: 10,
                        pointBorderColor: 'rgb(0,0,0,0)'
                    };
                    colorcounter++;
                    datasets.push(temp)
                }
               
            });
            return datasets
        }

        function createBarGraphDatasets(data, pick){
            datasets = [];
            colors = ["blue",  "orange", "indigo", "yellow",]
            colorcounter = 0;
            Object.entries(data).forEach( entry => {
                const[ key ,value] = entry
                if(pick.includes(key)){
                    var temp1 =  {
                        label: key,
                        data: value,
                        backgroundColor: colors[colorcounter],
                        borderWidth:1,
                    }
                    colorcounter++;
                    datasets.push(temp1);
                }
               
            });
            return datasets;
        }

        setInterval(loadData, 60 * 1000);

        function drawLineGraph(id, labels, datasets, beginAtZero, yaxisname='') {
            var ctx = document.getElementById(id).getContext('2d');

            var chart = new Chart(ctx, {
                // The type of chart we want to create
                type: 'line',
                // The data for our dataset
                data: {
                    labels: labels,
                    datasets: datasets
                },
                // Configuration options go here
                options: {
                    plugins: {
                        legend: {
                            labels: {
                                // This more specific font property overrides the global property
                                font: {
                                    weight: "bold"
                                }
                            }
                        }
                    },
                    scales: {
                        xAxes: [
                            { 
                                display: true,
                                scaleLabel: {
                                    display: true,
                                    labelString: 'DateTime'
                                },
                                ticks: {
                                    display: false
                                },
                                gridLines: {
                                    display: false,
                                    drawBorder: false,
                                },                     
                            }
                        ],
                        yAxes: [
                            {
                                ticks: {
                                    beginAtZero: beginAtZero
                                },
                                scaleLabel: {
                                    display: true,
                                    labelString: yaxisname,
                                }
                            }
                        ],
                    },
                    elements: {
                        point:{
                            borderWidth: 0,
                            radius: 10,
                            backgroundColor: 'rgba(0,0,0,0)',
                            borderColor: 'rgba(0,0,0,0)',
                        }
                    }
                }

        });
    }

        function drawBarGraph(id, labels, datasets){
            var ctx = document.getElementById(id).getContext('2d');
            var chart = new Chart(ctx,{
                type: 'bar',
                data:{
                    labels : labels,
                    datasets: datasets
                },
                options:{
                    scales: {
                        xAxes: [
                            {
                                display: true,
                                scaleLabel: {
                                    display: true,
                                    labelString: 'DateTime'
                                },
                                ticks: {
                                    display: false
                                },
                                gridLines: {
                                    display: false,
                                    drawBorder: false,
                                },     
                            }
                        ],
                        yAxes: [
                            {
                                ticks: {
                                    beginAtZero: true
                                }
                            }
                        ]
                    }
                }
            });
        }

    </script>

{% endblock content %}